
body {
    background-color: rgb(43, 142, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 70%;
    width: 30%;
    background-color: #F5F7F9;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 gray;
    padding: 20px;
    color: #41494F;
}

.container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-warning {
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 50px;
    color: white;
}

.container-body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.container-input {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container-input label {
    padding: 4px;
    font-size: 1.2rem;
}

.container-input input {
    padding: 10px;
    font-size: 1.2rem;
    background-color: white;
    color: #41494F;
    border: 1px solid #EDEFEF;
}

.container-a {
    padding: 2px 10px;
}

.container-a a {
    text-decoration: none;
    color: rgb(43, 142, 255);
}

.container-button{
    padding: 10px;
}

.container-button button {
    padding: 16px;
    width:100%;
    border: none;
    border-radius: 6px;
    background-color: rgb(43, 142, 255);
    cursor: pointer;
    color: white;
}

.container-button button:hover {
    background-color: rgb(29, 134, 253);
}